@model IEnumerable<WebMVC.Models.Category>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<table>
    @foreach (var cat in Model)
    {
        <tr>
            <td>
                @for (int i = 0; i < cat.Level; i++)
                    {
                        @:&nbsp;
                    }
                @if (cat.Level != 0)
                {
                    @:<sup>|_</sup>&nbsp;
                }
                @cat.Name</td>

            <td><a href="~/@ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower()/edit/@cat.Id"> --> Редактировать</a></td>
        </tr>
    }
</table>
